@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Poppins:wght@300;400;500;600;700&family=Roboto&family=Roboto+Mono:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 23, 42);
    color: white;
}

header {
    color: white;
    padding: 10px;
    text-align: center;
}

#logo {
    display: flex;
    align-items: center;
}

#logo i {
    margin-right: 5px;
}

nav {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: rgb(29, 78, 216);
}

#app {
    max-width: 600px;
    margin: 50px auto;
    border-radius: 0.5rem;
    padding: 20px;
    background-color: rgb(15, 23, 42);
}

#app h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#task-form {
    margin-bottom: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button {
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    background: rgb(29, 78, 216);
    color: white;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(20, 56, 156);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    margin-left: 10px;
    background-color: #806e6e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease-in-out;
}

li button:hover {
    background-color: #654e4e;
}

#crud-modal {
    border-radius: 0.5rem;
}

#crud-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#crud-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.form-control input,
.form-control textarea {
    width: 100%;
    padding: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    color: white;
    background-color: rgb(75, 85, 99);
    transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
    margin: 20px;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: #2563eb;
    box-shadow: 0 0 0 0.125em rgba(38, 97, 235, 0.25);
}

.close {
    background: none;
}

.enviar {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: rgb(55, 65, 81);
    margin: 5% auto;
    width: 600px;
    padding: 20px;
    border-radius: 0.5rem;
}



